@font-face {  
  font-family: 'mcd' ;  
  src: url( 'https://ve12sus.com/fonts/LovinSansCondensed-Regular.woff' ) format('woff');  
}  
 
/* Then use it like you would any other font */  
.yourFontName {
  font-family: 'mcd' , sans-serif;  
}  


