@font-face {  
  font-family: 'LovinSansCondensed-Regular' ;  
  src: url( '../assets/LovinSansCondensed-Regular.woff' ) format('woff');  
}

@font-face {
  font-family: 'LovinSansCondensed-Bold' ;
  src: url( '../assets/LovinSansCondensed-Bold.woff' ) format('woff');
}

@font-face {
  font-family: 'LovinSansRegular' ;
  src: url( '../assets/LovinSansRegular.woff' ) format('woff');
}

@font-face {
  font-family: 'LovinSansCondensed-Black' ;
  src: url( '../assets/LovinSansCondensed-Black.woff' ) format('woff');
}

body {
  background-color: #1e1e1e;
  font-family: 'LovinSansRegular', sans-serif;
}

.regular {
  font-size: 0.875rem;
}

.large {
  font-size: 1.125rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.125rem;
}

h4 {
  font-size: 0.875rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'LovinSansCondensed-Bold' , sans-serif;  
}  

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.main {
  margin-bottom: 7%;
}

.btn {
  font-family: 'LovinSansCondensed-Bold', sans-serif;
  font-size: 0.8125rem;
  letter-spacing: 0.9px;
}

#main, #nav #footer {
  padding-right: 0;
  padding-left: 0;
}

@media (min-width: 992px) {
  .container{
    max-width: 940px;
  }
}

.nav-link {
  font-family: 'LovinSansCondensed-Bold', sans-serif;
  font-size: 1.125rem;
  letter-spacing: 1px;
}

/* rules for floating nav */
@media (min-width: 992px) {

  .navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  
  .nav-item {
  padding: 10px;
	}

	.news-nav-link {
		border-bottom: #63dc12 solid 2px;
	}

	.food-nav-link {
		border-bottom: #2289f2 solid 2px;
	}

	.people-nav-link {
		border-bottom: #b549ff solid 2px;
	}

	.events-nav-link {
		border-bottom: #ffc400 solid 2px;
	}
}

.carousel-indicators li {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.carousel-caption {
  bottom: 30%;
  text-align: left;
  right: 25%;
  left: 25%;
}

/* rules for featured cards */

.featured-news {
  background-color: rgba(101, 154, 42, 0.7);
}

.welcome-readmore > a {
  background-color: #c26fff;
  color: #fff;
  width: 140px;
  height: 36px;
  border-radius: 18.5px;
}

.featured-news a {
  background-color: #61b310;
  color: #fff;
  width: 140px;
  height: 36px;
  border-radius: 37px;
}

.featured-food {
  background-color: rgba(57, 120, 191, 0.7);
}

.featured-food > a {
  background-color: #4ea0ff;
  color: #fff;
  width: 140px;
  height: 36px;
  border-radius: 37px;
}

.featured-people {
  background-color: rgba(130, 58, 194, 0.7);
}

.featured-people > a {
  background-color: #c26fff;
  color: #fff;
  width: 140px;
  height: 36px;
  border-radius: 37px;
}

.featured-events {
  background-color: rgba(189, 162, 57, 0.7);
}

.featured-events > a {
  background-color: #e4b600;
  color: #fff;
  width: 140px;
  height: 36px;
  border-radius: 37px;
}

/* twitter and instagram */
.card {
  border-radius: 0;
  border-top: none;
}

.card-group :first-child {
  border-left: none;
}

.card-group :last-child {
  border-right: none;
}

.card-body > h4 {
  color: #009bf6;
  font-family: 'LovinSansCondensed-Black', sans-serif;
  font-size: 1.125rem;
  letter-spacing: 1px;
}

.hashtag {
  color: #009bf6;
}

/* footer styles */

.footer {
  background-color: #282828;
}

.footer-links * {
  color: #fff;
}

.footer h4 {
  font-family: 'LovinSansCondensed-Bold', sans-serif;
  font-size: 1.25rem;
  letter-spacing: 1.1px;
}

.footer a {
  font-size: 0.875rem;
  font-family: 'LovinSansRegular', sans-serif;
}  

.footer .card-body {
  line-height: 2;
}

.footer-copyright > p {
  font-family: 'LovinSansCondensed-Regular', sans-serif;
  opacity: 0.5;
  font-size: 1.25rem;
}

/* rules for mobile view */
@media (max-width: 575px) {
  .container {
    padding-right: 0px;
    padding-left: 0px;
  }

  .row {
    margin-right: 0px;
    margin-left: 0px;
  }

  .carousel-caption {
    bottom: 10%;
    text-align: center;
  }
}
