/* Fonts and Styles*/

@font-face {  
  font-family: 'LovinSansCondensed-Regular' ;  
  src: url( '../assets/LovinSansCondensed-Regular.woff' ) format('woff');  
}

@font-face {
  font-family: 'LovinSansCondensed-Bold' ;
  src: url( '../assets/LovinSansCondensed-Bold.woff' ) format('woff');
}

@font-face {
  font-family: 'LovinSans-Regular' ;
  src: url( '../assets/LovinSans-Regular.woff' ) format('woff');
}

@font-face {
  font-family: 'LovinSansCondensed-Black' ;
  src: url( '../assets/LovinSansCondensed-Black.woff' ) format('woff');
}

body {
  background-color: #1e1e1e;
  color: #fff;
  font-family: 'LovinSans-Regular', Sans-serif;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

.regular {
  font-size: 0.875rem;
}

.large {
  font-size: 1.125rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.125rem;
  letter-spacing: 1px;
}

h4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'LovinSansCondensed-Bold', Sans-serif;  
  font-weight: 400;
  line-height: 1;
}  

/* All screens */
.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.main {
  margin-bottom: 7%;
}

.btn {
  font-family: 'LovinSansCondensed-Bold', Sans-serif;
  font-size: 0.8125rem;
  letter-spacing: 1px;
}

#main, #nav, #caption, #footer {
  padding-right: 0;
  padding-left: 0;
}

.carousel-indicators li {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

@media (max-width: 767px) {

  .container {
    padding-right: 0px;
    padding-left: 0px;
  }

  .row {
    margin-right: 0px;
    margin-left: 0px;
  }

  .carousel-caption {
    text-align: center;
    right: 5%;
    left: 5%;
    bottom: -2%;
    padding-top: 0;
    padding-bottom: 0;
  }

  h1 {
    font-size: 2.25rem;
  }

  .card-title {
    margin-bottom: 0.5rem;
  }

  .navbar {
    background-color: #fff;
    color: #4a4a4a;
  }

}

@media (max-width:767px) {

  .carousel-indicators {
    display: none;
  }

  .carousel-control-prev {
    display: none;
  }

  .carousel-control-next {
    display: none;
  }
}

@media (min-width: 992px) {

/* max width of container*/
  .container{
    max-width: 940px;
  }

}

@media (min-width: 768px) {

/* rules for floating nav */
  .navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  
  .navbar {
    padding-top: 2rem;
  }

  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #fff;
  }

  .nav-item {
    margin-top: 9px;
    margin-left: 10px;
	}

  .nav-link {
    padding: 0;
  }

  .news-nav-link {
    border-bottom: transparent solid 2px;
  }
	.news-nav-link:hover {
		border-bottom: #63dc12 solid 2px;
	}

  .food-nav-link {
    border-bottom: transparent solid 2px;
  }
	.food-nav-link:hover {
		border-bottom: #2289f2 solid 2px;
	}

  .people-nav-link {
    border-bottom: transparent solid 2px;
  }
	.people-nav-link:hover {
		border-bottom: #b549ff solid 2px;
	}

  .events-nav-link {
    border-bottom: transparent solid 2px;
  }
	.events-nav-link:hover {
		border-bottom: #ffc400 solid 2px;
	}

  /* carousel-caption */
  .caption-wrapper {
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
    z-index: 10;
  }

  .caption {
    margin-top: 80px;
    margin-left: 12%;
  }

  .caption h1 {
    margin-bottom: 1rem;
  }
}

@media (min-width: 992px) {

/* max width of container*/
  .container{
    max-width: 940px;
  }

}

/* rules for featured cards */

.featured-news {
  background-color: rgba(101, 154, 42, 0.7);
}

.welcome-readmore > a {
  background-color: #c26fff;
  color: #fff;
  width: 140px;
  height: 36px;
  border-radius: 18.5px;
}

.featured-news a {
  background-color: #61b310;
  color: #fff;
  width: 140px;
  height: 36px;
  border-radius: 37px;
}

.featured-food {
  background-color: rgba(57, 120, 191, 0.7);
}

.featured-food a {
  background-color: #4ea0ff;
  color: #fff;
  width: 140px;
  height: 36px;
  border-radius: 37px;
}

.featured-people {
  background-color: rgba(130, 58, 194, 0.7);
}

.featured-people a {
  background-color: #c26fff;
  color: #fff;
  width: 140px;
  height: 36px;
  border-radius: 37px;
}

.featured-events {
  background-color: rgba(189, 162, 57, 0.7);
}

.featured-events a {
  background-color: #e4b600;
  color: #fff;
  width: 140px;
  height: 36px;
  border-radius: 37px;
}

/* twitter and instagram */
.card {
  border-radius: 0;
  border-top: none;
}

.card-group :first-child {
  border-left: none;
}

.card-group :last-child {
  border-right: none;
}

.twitter p {
  color: #191412;
  line-height: 1.71;
}

.card-body > h4 {
  color: #009bf6;
  font-family: 'LovinSansCondensed-Black', Sans-serif;
  letter-spacing: 1px;
}

.hashtag {
  color: #009bf6;
}

/* footer styles */

#footer a, #footer h4 {
  color: #fff;
}

.footer {
  background-color: #282828;
  color: #fff;
  padding-top: 49px;
}

.footer h4 {
  font-family: 'LovinSansCondensed-Bold', Sans-serif;
  font-size: 1.25rem;
  letter-spacing: 1.1px;
  margin-bottom: 15px;
}

.footer ul {
  line-height: 2.23;
}

.footer a {
  font-size: 0.8125rem;
  font-family: 'LovinSans-Regular';
}

.footer-copyright > p {
  font-family: 'LovinSansCondensed-Regular', Sans-serif;
  opacity: 0.5;
  font-size: 1.25rem;
  margin-top: 116px;
}
