img {
  width: 100%;
  height: auto;
}

.img-wrap {
  position: relative;
}

.img-wrap:hover .hilight {
  background-color: black;
}

.img-wrap:hover .hilight > p {
  color: white;
}

.hilight > p {
  text-align: center;
  color: #999;
  margin: auto;
}

.hilight > p:hover {
  color: white;
  cursor: pointer;
}

.hilight {
  background-color: rgba(0, 0, 0, 0.5);    
  width: 100%;
  z-index: 10000;
  position: absolute;
  top: 0px;
  height: 50px;
  display: -webkit-flex;
  display: flex;
}

.hilight:hover {
  background-color: black;
  cursor: pointer;
}

#carouselExampleIndicators .list-inline {
  white-space:nowrap;
  overflow-x:auto;
}

#carouselExampleIndicators .carousel-indicators {
  position: absolute;
  width: 50%;
  margin-left: initial;
  overflow: hidden;
  margin: 0 auto;
}

#carouselExampleIndicators .carousel-indicators > li {
  width: initial;
  height: initial;
  text-indent: initial;
}

#carouselExampleIndicators .carousel-indicators > li.active img {
  opacity: 0.7;
}

.fill {
  overflow: hidden;
  background-size: cover;
  height: 100px;
  width: 200px;
  background-size: 100%;
  display: none;
}

@media(min-width:768px){
  .fill {
    display: block;
  }
}

/*.sqs-layout > .sqs-row {
  margin-left: 0px;
  margin-right: 0px;
}*/
