img {
  width: 100%;
  height: 100%;
}

.img-wrap {
  position: relative;
}

.hilight > h2 {
  position: absolute;
  width: 100%;
  left: 0;
  top: 10px;
}

.img-wrap > h2 {
  position: absolute;
  width: 100%;
  left: 0;
  top: 10px;
}

.site-navigation {
  text-align: center;
}

.site-navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-navigation-list > li {
  display: inline;
}
